:root {
    --bg-clr: #ebebeb;
    --txt-clr: #242424;
    --accent-clr: hotpink;
}

html.dark {
    --bg-clr: #242424;
    --txt-clr: #ebebeb;
}

html {
    background-color: var(--bg-clr);
    accent-color: var(--accent-clr);
    color: var(--txt-clr);
}

.active {

    color: var(--txt-clr);
    background-color: var(--accent-clr);
}

a {
    text-decoration: none;

    color: var(--accent-clr)
}

a:hover {
    background-color: var(--txt-clr);
    color: var(--bg-clr);

}